@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: fixed;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .card img {
        height: 100px;
        width: 200px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }
    
    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }
}

@media (max-width: 512px) {
    #page-home header a {
        position: fixed;
        bottom: 26px;

        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 455px) {
    #page-search-results header a {
        font-size: 14px;
        margin-left: 20px;
}
}

@media (min-width: 1070px) { 
    #page-home {
        background-position-x: 30vw;
    }
}

@media (max-height: 676px) {
    #page-home {
        background-position-y: 110px;
    }
}
